<%- include("partials/header.ejs") -%>
    <div>
        *<!--  -->*
        <h1 class="text-center">
            Home Page
        </h1>
        <button onclick="window.location='/register'">Register</button>
        <button onclick="window.location='/login'">Login</button>
        
    </div>
    <%- include("partials/footer.ejs") -%>